POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agro_tech
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@agrotech.com
PGADMIN_DEFAULT_PASSWORD=admin123

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback

JWT_SECRET_KEY=change-me
JWT_EXPIRE_MINUTES=60

FRONTEND_URL=http://localhost:8501
API_BASE_URL=http://localhost:8000
